/* ================= DASHBOARD ================= */
.dashboard-page{
    margin:0;
    background:#e9eff7;
    font-family:Poppins, system-ui;
}

.dashboard-page .sidebar{
    width:240px;
    height:100vh;
    background:#1554c0;
    position:fixed;
    left:0;
    top:0;
    color:white;
    padding-top:15px;
}

.dashboard-page .sidebar img{
    width:60px;
    border-radius:50%;
}

.dashboard-page .sidebar a{
    color:white;
    display:block;
    padding:12px 20px;
    text-decoration:none;
    font-size:14px;
    border-left:4px solid transparent;
    transition:.2s;
}

.dashboard-page .sidebar a:hover,
.dashboard-page .sidebar a.active{
    background:rgba(255,255,255,0.15);
    border-left:4px solid white;
}

.dashboard-page .content{
    margin-left:240px;
    padding:30px;
}

.dashboard-page .card{
    border:none;
    border-radius:12px;
    box-shadow:0 2px 12px rgba(0,0,0,.08);
}

.dashboard-page .progress{
    height:26px;
    border-radius:20px;
}

.dashboard-page .progress-bar{
    font-size:13px;
    font-weight:bold;
}
