.formulir-wrapper{
    max-width:1300px;
    margin:auto;
}

.nav-tabs{
    justify-content:center;
    font-size:17px;
    font-weight:500;
}

.nav-link.active{
    background:#fff !important;
    border-bottom:3px solid #0d6efd !important;
    color:#0d6efd !important;
}

body{
  background:#eef3ff;
  font-family:'Poppins',sans-serif;
}

.container{
  background:white;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card{
    width:100% !important;
    border-radius:20px !important;
}

