body{
  background:#eef3ff;
  font-family:'Poppins',sans-serif;
}

.container{
  background:white;
  border-radius:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

/* rapatkan konten ke sidebar */
.content {
    margin-left: -5px;
}

/* spacing antar kolom */
.form-control {
    height: 45px;
}

